
/* Color Theme Swatches in RGBA */
.My-Color-Theme-1-rgba { color: rgba(15, 85, 97, 1); }
.My-Color-Theme-2-rgba { color: rgba(102, 209, 227, 1); }
.My-Color-Theme-3-rgba { color: rgba(33, 194, 222, 1); }
.My-Color-Theme-4-rgba { color: rgba(42, 87, 94, 1); }
.My-Color-Theme-5-rgba { color: rgba(26, 149, 171, 1); }

*{
    overflow: auto;
}
body{
    font-family:'Lato' sans-serif;
    background:rgba(15, 85, 97, 1);
    box-sizing: border-box;
}
h1{
    font-family:'Lato' sans-serif;
    color:  rgba(15, 85, 97, 1);
}
h2{
    font-family: 'Nanum Gothic', sans-serif;
    color: rgba(42, 87, 94, 1);
}
p{
    color:rgba(42, 87, 94, 1) ;
    font-family: 'Ubuntu', sans-serif;
}
main{
    box-sizing: border-box;
    padding: 20px;
}
header, footer{
    clear: both;
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
    text-align: center;
}
aside{
    clear: both;
    float: left;
    width: 30%;
    box-sizing: border-box;
    margin: 0;
    padding: 10px;
    overflow: auto;
    border: 2px solid rgba(26, 149, 171, 1);
    margin-right: 10px;
}
nav a{
    padding: 2px 15px;
    background: rgba(15, 85, 97, 1);
    border: 5px solid rgba(15, 85, 97, 1);
    text-decoration: none;
    color: rgba(33, 194, 222, 1);
    text-align: center;
    border-radius: 20px;
    margin: 10px auto;
    line-height: 3;

}

nav a:hover{
    background: rgba(33, 194, 222, 1);
    color:rgba(15, 85, 97, 1);
}
a{
    text-decoration: none;
    font-size: large;
    color: rgba(33, 194, 222, 1);
}
.container{
    background:rgba(33, 194, 222, 1);
    width: 80%;
    max-width: 1000px;
    margin: 10px auto;
    height: auto;
}

.fish{
    width: 30%;
    float: right;
    border: 2px solid rgba(102, 209, 227, 1);
}